@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

#board {
  width: 400px;
  height: auto;
  margin: 0px auto;
  border-width:10px; 
  border-style:inset;
}

#board:after {
  content: "";
  clear: both;
  display: block;
}

body {
  text-align: center;
  background-color: #519B71;
  font-family: 'Gochi Hand', cursive;
}

.square {
  width: 18px;
  height: 18px;
  margin: 0px auto;
  float: left;
  border: #506C8E solid 1px;
  display: inline-block;
  background-color: #506C8E;
  border-radius: 2px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: #A53B57;
}

.death {
 background-color: black; 
}