#board {
  width: 400px;
  height: auto;
  border: red solid 1px;
  margin: 0px auto;
}

#board:after {
  content: "";
  clear: both;
  display: block;
}

body {
  text-align: center;
}

.square {
  width: 18px;
  height: 18px;
  margin: 0px auto;
  float: left;
  border: black solid 1px;
  display: inline-block;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}