#board {
  width: 425px;
  height: auto;
  border: red solid 1px;
  margin: 0px auto;
}

#board:after {
  content: "";
  clear: both;
  display: block;
}

body {
  text-align: center;
}

.square {
  width: 15px;
  height: 15px;
  margin: 0px auto;
  float: left;
  border: black solid 1px;
  display: inline-block;
}

